body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Open Sans', sans-serif;
}

/*No Rounded Corners*/
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.question-next,.question-prev {
  width: 250px;
  text-overflow: ellipsis;
  color: gray;
}

footer {
    margin: 50px 0;
}

#cards
{
    list-style-type: none;
}

#cards > li {

}

.thumbnail {
    display: table;
    vertical-align: middle;
    float: none;        
    width:100%;
    height:80px;
    padding-left:10px;
}

a.thumbnail.active {
 	background-color: lightyellow !important;
  text-decoration: none;
    /*border-color: yellow;*/
    /*color: #fff;*/
}

a.thumbnail:hover{
  text-decoration: none;
}

.card-title{
  display:table-cell;
  vertical-align: middle;

  width:100%;
  height: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.flipclock{
  zoom: 0.25;
  -moz-transform: scale(0.25)
}